.privacy-Container {
  // background-color: #f8fbfa;
  background-color: #ffffff;
}
.text-7 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 160%;
  color: #121212;
}

.text-8 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  color: #121212;
}

.text-9 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  color: #121212;
}

.text-10 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: #121212;
  opacity: 0.6;
}

.privacy-class {
  border-bottom: 1px solid #e1dbdb;
}

.start-button {
  width: 170px;
  height: 50px;
  background: white;
  border-radius: 10px;
  border: 1px solid #019585;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.01em;
  color: #019585;
}
