.home {
    // width: 120px;
    height: 50px;
    background: #019585;
    border-radius: 10px;
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #ffffff;
    box-shadow: none;
    border: none !important;
   
}

.text {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #121212;
}
.modalForm {
    height: 500px;
  }