<div class="update-profile-container">
  <div class="container-fluid jobs-card-container">
    <div
      class="col-xxl-9 col-md-10 col-sm-12 col-12 d-flex flex-column mx-md-5 mx-0 mt-5 mb-5"
    >
      <div class="col-12 mx-xl-0 mx-lg-5 mx-md-5 mx-4 mt-5">
        <span class="text-3" (click)="redirectTo()">Hi, {{ userName }}</span>
      </div>

      <div
        class="col-12 d-flex flex-xl-row flex-column justify-content-xl-between align-items-xl-start align-items-center mt-5"
      >
        <div
          class="col-xl-4 col-lg-6 col-sm-8 col-11 cursor-pointer"
          (click)="onClick()"
        >
          <mat-card class="card-Height">
            <div>
              <img src="assets/images/note-favorite.png" alt="icon" />
              <span class="text-1 mx-3">My resumes</span>
            </div>
            <div class="mt-4 d-flex justify-content-between">
              <span class="text-2">View detail</span>
              <img src="assets/images/ARROW-RIGHT3.png" alt="icon" />
            </div>
          </mat-card>
        </div>
        <div
          class="col-xl-4 col-lg-6 col-sm-8 col-11 ps-xl-5 ps-0 mt-4 mt-xl-0"
        >
          <mat-card
            class="card-Height cursor-pointer"
            (click)="redirectToJobs()"
          >
            <div>
              <img src="assets/images/star.png" alt="icon" />
              <span class="text-1 mx-3">Applied jobs</span>
            </div>
            <div class="mt-4 d-flex justify-content-between">
              <span class="text-2">View detail</span>
              <img src="assets/images/ARROW-RIGHT3.png" alt="icon" />
            </div>
          </mat-card>
        </div>

        <div
          class="col-xl-4 col-lg-6 col-sm-8 col-11 ps-xl-5 ps-0 mt-4 mt-xl-0 cursor-pointer"
          (click)="openModel(coaching)"
        >
          <mat-card class="card-Height">
            <div class="d-flex align-items-center">
              <img src="assets/images/coaching session.png" alt="icon" />
              <span class="text-1 mx-3">Coaching Session</span>
            </div>
            <div class="mt-4 d-flex justify-content-between">
              <span class="text-2">View detail</span>
              <img src="assets/images/ARROW-RIGHT3.png" alt="icon" />
            </div>
          </mat-card>
          <ng-template #coaching>
            <div class="modalForm">
              <div class="modal-body">
                <div class="d-flex flex-column">
                  <div
                    class="mt-2 d-flex flex-row justify-content-between align-items-center"
                  >
                    <span class="text-11 ps-3">Coaching Session</span>
                    <div class="cursor-pointer">
                      <img
                        src="assets/images/close-circle.png"
                        alt="icon"
                        (click)="dismissAll()"
                      />
                    </div>
                  </div>

                  <div
                    class="d-flex flex-row ps-3"
                    *ngFor="let item of coachingSessionList; let i = index"
                  >
                    <span class="text-12 mt-4"
                      >Coaching {{ i + 1 }} &nbsp; &nbsp;:
                    </span>
                    <span class="text-12 mt-4"
                      >&nbsp; &nbsp;{{ item.slotDate | date : "mediumDate" }} at
                      {{ item.slotTime }}</span
                    >
                  </div>
                  <h2 *ngIf="!coachingSessionList?.length" class="ps-3 my-4">
                    No result found
                  </h2>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 chart-container gx-0 mt-3">
    <div
      class="d-flex flex-column mx-md-5 mx-sm-4 mx-2 p-2 col-xxl-9 col-md-10 col-sm-11 col-12"
    >
      <span class="text-4">Jobs by types</span>
      <mat-card class="mt-4 jobTypeCard">
        <div id="chart">
          <canvas id="JobChart"></canvas>
        </div>
      </mat-card>
    </div>
  </div>

  <div
    class="d-flex flex-column col-xxl-9 col-md-10 col-sm-11 col-12 mx-md-5 mx-sm-4 mx-2 p-2 mt-5 appliedJob-container"
    id="section1"
  >
    <span class="text-4">Jobs applied recently</span>
    <mat-card
      class="d-flex flex-column matcard col-12 py-5 mt-4"
      *ngFor="let job of appliedjobsList"
      (click)="onAppliedJobClick(job.job_id)"
    >
      <div
        class="d-flex flex-md-row flex-column justify-content-lg-between align-items-start col-12"
      >
        <div
          class="d-flex flex-sm-row flex-column col-xxl-6 col-md-6 col-sm-8 col-12 align-items-sm-center align-items-start mx-sm-4 mx-0"
        >
          <div
            class="d-flex row gx-0 justify-content-center align-items-center mx-sm-0 mx-3"
          >
            <img
              [src]="baseURl + job?.userDetails?.companyProfilePic?.path"
              alt="logo"
              style="
                height: auto;
                width: 60px;
                object-fit: contain;
                border-radius: 10px;
              "
            />
          </div>

          <div
            class="d-flex flex-column col-xxl-9 col-xl-10 justify-content-between"
          >
            <span class="text-5 mx-xl-4 mx-sm-4 mx-3 mt-sm-0 mt-2">{{
              job.userDetails?.title
            }}</span>
            <div
              class="d-flex flex-row justify-content-start align-items-center col-12"
            >
              <span class="text-6 mx-xl-4 mx-sm-4 mx-3 mt-2">{{
                job.userDetails?.companyName
              }}</span>
            </div>
          </div>
        </div>

        <div
          class="d-flex flex-column align-items-end col-xl-4 col-lg-4 col-md-5 col-11 mt-sm-0 mt-2 card-div"
        >
          <div class="d-flex flex-row">
            <img src="assets/images/job-calendar.png" alt="icon" />
            <span class="text-7 mx-1">
              Send at
              {{ job.createdAt | date : "dd MMMM yyyy, hh.mm a" }}</span
            >
          </div>

          <div class="d-flex flex-row align-items-center mt-2">
            <span
              [ngClass]="
                job.job_status == 'Not in accordance'
                  ? 'job-button2'
                  : 'job-button'
              "
              >{{ job.job_status }}</span
            >
            <div class="dot mx-2" *ngIf="job.userDetails?.status"></div>
            <span class="text-9" *ngIf="job.userDetails?.status">{{
              job.userDetails.status
            }}</span>
          </div>
        </div>
      </div>
    </mat-card>
    <h2 *ngIf="!appliedjobsList?.length" class="my-4">No result found</h2>
    <div
      class="d-flex justify-content-center"
      *ngIf="totalAppliedJobs?.length > 2"
    >
      <button
        *ngIf="!hideAllBtn"
        type="button"
        class="asset-button mt-4 mb-5"
        (click)="showAll()"
      >
        Show more jobs
      </button>
    </div>
  </div>

  <nav
    aria-label="Page navigation"
    *ngIf="appliedjobsList?.length"
    class="mt-4"
  >
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="changePage(currentPage - 1)">Previous</a>
      </li>

      <li
        class="page-item"
        *ngFor="let page of pageNumbers"
        [class.active]="currentPage === page"
      >
        <a class="page-link" *ngIf="page !== -1" (click)="changePage(page)">{{
          page
        }}</a>
        <a class="page-link" *ngIf="page === -1">&hellip;</a>
      </li>

      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="changePage(currentPage + 1)">Next</a>
      </li>
    </ul>
  </nav>

  <!-- Newest jobs  -->
  <span class="text-4 mx-md-5 mx-sm-4 mx-2 p-2">Newest Job</span>
  <div class="d-flex flex-column col-12">
    <app-newest-jobs></app-newest-jobs>
  </div>
</div>
