.asset-button {
  width: 260px;
  height: 50px;
  background: #019585;
  box-shadow: 0px 0px 15px rgba(1, 149, 133, 0.15);
  border-radius: 10px;
  border: none;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 151.5%;
  letter-spacing: -0.01em;
  color: #ffffff;
}
.update-profile-container {
  background-color: white;

  .jobs-card-container {
    .text-1 {
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 23px;
      color: #2e2e30;
    }

    .text-2 {
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 19px;
      letter-spacing: -0.01em;
      color: #121212;
      opacity: 0.6;
    }

    .text-3 {
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.01em;
      color: #121212;
    }
  }

  .text-4 {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.01em;
    color: #121212;
  }

  .appliedJob-container {
    .card-button-1 {
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 132%;
      color: #ff801c;
      opacity: 0.6;
      border: none;
      width: auto;
    }

    .card-button-2 {
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 132%;
      color: #554bff;
      opacity: 0.6;
      border: none;
      width: auto;
    }

    .text-5 {
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      line-height: 132%;
      color: #121212;
    }

    .text-6 {
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 132%;
      color: #121212;
      opacity: 0.6;
    }

    .text-7 {
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      line-height: 132%;
      color: #121212;
    }

    .text-8 {
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 132%;
      color: #121212;
      opacity: 0.5;
    }

    .text-10 {
      font-family: "Plus Jakarta Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 132%;
      color: #121212;
      opacity: 0.7;
    }

    .dot {
      height: 0;
      border: 3px solid #828282;
      border-radius: 10px;
    }

    .full-Time {
      width: auto;
    }

    .design-job {
      width: auto;
    }

    ul {
      padding-left: 3.5%;
    }

    .matcard {
      // height: 201px;
      background: #ffffff;
      border: 1px solid #e0e0e0;
      box-shadow: none;
      border-radius: 15px;
      cursor: pointer;
    }
  }

  .job-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4.35632px 17.4253px;
    gap: 8.71px;
    width: fit-content;
    height: fit-content;
    background: #f9f2eb;
    border-radius: 5.4454px;
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16.3362px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #ff801c;
    opacity: 0.6;
  }

  .job-button2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4.35632px 17.4253px;
    gap: 8.71px;
    width: fit-content;
    height: fit-content;
    background: rgba(235, 87, 87, 0.1);
    border-radius: 5.4454px;
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16.3362px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #eb5757;
    opacity: 0.6;
  }

  .dot {
    height: 5px;
    width: 5px;
    border: 1px solid gray;
    border-radius: 50px;
  }

  .text-9 {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16.3362px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #121212;
    opacity: 0.6;
  }
}

.jobTypeCard {
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  box-shadow: none;
}

.viewAll-button {
  width: 120px;
  height: 50px;
  background: #019585;
  box-shadow: 0px 0px 0px rgba(1, 149, 133, 0.15);
  border-radius: 10px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #ffffff;
  border: none;
}

.text-11 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.01em;
  color: #121212;
}

.text-12 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #121212;
  opacity: 0.7;
}

.card-Height {
  height: 135px;
  border: 1px solid #e0e0e0;
  border-radius: 15.8722px;
  box-shadow: none;
}
// Media Queries

@media only screen and (min-width: 768px) and (max-width: 800px) {
  .job-button2 {
    font-size: 14px !important;
  }
}

@media only screen and (min-width: 576px) and (max-width: 1200px) {
  .text-7 {
    font-size: 14px !important;
  }

  .text-8 {
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 576px) {
  .text-7 {
    font-size: 13px !important;
  }

  .text-8 {
    font-size: 10px !important;
  }

  .description {
    padding-left: 8%;
  }

  .job-button2 {
    font-size: 13px !important;
  }

  .text-9 {
    font-size: 13px;
  }
}
