<div class="d-flex flex-column col-12 align-items-center">
  <div
    *ngFor="let job of jobsList; let i = index"
    class="d-flex flex-column matcard col-10 mt-4 py-4 cursor-pointer"
    (click)="onCardclick(job.isCardclick, i, job._id)"
    [ngClass]="{ cardClicked: job.isCardclick === true }"
  >
    <div
      class="d-flex flex-lg-row flex-column justify-content-lg-between align-items-start col-12"
    >
      <div
        class="d-flex flex-sm-row flex-column col-xxl-6 col-xl-7 col-lg-8 col-sm-11 col-12 align-items-sm-center align-items-start card-div mx-sm-4 mx-0"
      >
        <div
          class="d-flex row gx-0 justify-content-center align-items-center mx-sm-0 mx-3"
          *ngIf="job?.empImage?.path"
        >
          <img
            [src]="baseURL + job.empImage.path"
            alt="logo"
            style="
              height: auto;
              width: 60px;
              object-fit: contain;
              border-radius: 10px;
            "
          />
        </div>

        <div
          class="d-flex flex-column col-xxl-10 col-xl-10 justify-content-between"
        >
          <span class="text-7 mx-xl-4 mx-sm-4 mx-3 mt-sm-0 mt-2">{{
            job.title
          }}</span>
          <div
            class="d-flex flex-row justify-content-start align-items-center col-12"
          >
            <span class="text-8 mx-xl-4 mx-sm-4 mx-3 mt-2">{{
              job.companyName
            }}</span>
            <div class="row">
              <div
                class="col-6 d-flex flex-row align-items-center justify-content-start design-job gx-0"
              >
                <div class="dot mt-2"></div>
                <button type="button" class="card-button-1 ms-2 mt-2">
                  {{ job.jobType }}
                </button>
              </div>

              <div
                class="col-6 d-flex flex-row align-items-center design-job gx-0"
              >
                <div class="dot mt-2 ms-md-2 ms-0"></div>
                <button type="button" class="card-button-2 ms-2 mt-2">
                  {{ job.jobCategory }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="d-flex flex-column align-items-end mx-3 col-xl-4 col-lg-3 col-11 mt-sm-0 mt-2 p-0"
      >
        <span class="text-9">
          Rp. {{ job.salaryFrom }} - Rp. {{ job.salaryTo }} /Month</span
        >
        <span class="text-10 mt-2">Posted {{ job.postedDate }}</span>
      </div>
    </div>

    <!-- <div class="d-flex flex-column mt-5 col-12">
      <ul class="description">
        <li>
          <span class="text-11" [innerHTML]="job.description"></span>
        </li>
      </ul>
    </div> -->
  </div>
  <h2 *ngIf="!jobsList?.length" class="my-4">No result found</h2>
</div>
<!-- <div class="d-flex justify-content-center" *ngIf="totalJobsList.length > 2">
  <button
    *ngIf="!hideAllBtn"
    type="button"
    class="asset-button my-5"
    (click)="showAll()"
  >
    Show more jobs
  </button>
</div> -->

<nav aria-label="Page navigation" *ngIf="jobsList?.length" class="my-4">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" (click)="changePage(currentPage - 1)">Previous</a>
    </li>

    <li
      class="page-item"
      *ngFor="let page of pageNumbers"
      [class.active]="currentPage === page"
    >
      <a class="page-link" *ngIf="page !== -1" (click)="changePage(page)">{{
        page
      }}</a>
      <a class="page-link" *ngIf="page === -1">&hellip;</a>
    </li>

    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" (click)="changePage(currentPage + 1)">Next</a>
    </li>
  </ul>
</nav>
