.forgot-password-container {
  // width: 45%;
  padding: 30px;
  box-shadow: rgb(0 0 0 / 16%) 0 0.0625rem 0.25rem 0;
  border-radius: 10px;
  background: white;
}

.reset-button {
  box-shadow: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 24px;
  gap: 4px;
  width: 127px;
  height: 54px;
  background: #019585;
  border-radius: 10px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  border: none;
}
.inputLabel {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 151.5%;
  color: #121212;
}
.main-heading {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 151.5%;
  color: #121212;
}

.d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control {
  height: 50px;
  box-shadow: none;
  caret-color: #019585;
  background-color: white;
  border-radius: 10px;
}

.form-control:focus {
  box-shadow: 4px 4px 20px rgba(1, 149, 133, 0.15);
  border: 1px solid #019585;
}
@media only screen and (max-width: 767px) {
  .reset-button {
    padding: 14px 20px;
    font-size: 14px;
  }
}
