.backGround {
  background-color: #019585;
  color: white;
  font-size: 17px;
  height: 50px;
  align-items: center;
  vertical-align: middle;
}

.edit-button {
  box-shadow: none;
  border: none;
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
  height: 45px;
  background: #019585;
  border-radius: 8px;
  color: white;
}
