// .page-item .page-link.active {
//   background-color: #007bff !important;
//   border-color: #007bff !important;
//   color: #fff !important;
// }

.text {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #121212;
}
.margin-top {
  margin: 10rem 0 3rem 0;
}
.d-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-button {
  padding: 15px 30px;
  // width: 139px;
  height: 50px;
  background: #019585;
  box-shadow: 0px 0px 0px rgba(1, 149, 133, 0.15);
  border-radius: 10px;
  border: none;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #ffffff;
}

.search-form {
  margin-top: 1.5rem;
}

.form-control {
  height: 50px;
  box-shadow: none;
  caret-color: #019585;
  background-color: #fafafa;
  border-radius: 10px;
  padding-left: 45px;

  // border: 1px solid #e0e0e0 !important;
}

.form-control:focus {
  box-shadow: 4px 4px 20px rgba(1, 149, 133, 0.15);
  border: 1px solid #019585;
}

.form-group .input-image {
  position: relative;
  left: 15px;
  bottom: 36px;
}

.select-image {
  position: relative;
  left: 15px;
  bottom: 36px;
  opacity: 0.4;
}

.form-select {
  padding-left: 45px;
  height: 50px;
  background-color: #f5f7f9;
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid #e0e0e0 !important;
  // opacity: 0.5;
}

::placeholder {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 151.5%;
  color: #121212;
}

.appliedJob-container {
  margin: 2rem 0;
  .card-button-1 {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 132%;
    color: #ff801c;
    opacity: 0.6;
    border: none;
    background-color: #f9f2eb;
    width: auto;
  }

  .card-button-2 {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 132%;
    color: #554bff;
    opacity: 0.6;
    border: none;
    width: auto;
    background-color: #ecebff;
  }

  .text-1 {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 132%;
    color: #121212;
  }

  .text-2 {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 132%;
    color: #121212;
    opacity: 0.6;
  }

  .text-3 {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 132%;
    color: #121212;
  }

  .text-4 {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 132%;
    color: #121212;
    opacity: 0.5;
  }

  .text-5 {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 132%;
    color: #121212;
    opacity: 0.7;
  }

  .dot {
    height: 0;
    border: 3px solid #828282;
    border-radius: 10px;
  }

  .full-Time {
    // border:1px solid red;
    width: auto;
  }

  .design-job {
    // border:1px solid red;
    width: auto;
  }

  ul {
    padding-left: 2rem;
  }

  .matcard {
    // height: 201px;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    box-shadow: none;
    border-radius: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 800px) {
  .job-button2 {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 576px) {
  .text-3 {
    font-size: 13px !important;
  }

  .text-4 {
    font-size: 10px !important;
  }

  .job-button2 {
    font-size: 13px !important;
  }
}
