
<div class="d-center h-100">
    <div class="forgot-password-container col-xl-5 col-lg-6 col-md-7 col-sm-10 col-11">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center align-items-center">
            <h3 class="main-heading">Forgot Password</h3>
          </div>
        </div>
      
        <form>
            <div class="row">
                <div class="col-12">
                    <div class="form-group customer-width">
                        <span class="inputLabel">Email</span>
                        <input type="text" class="form-control mt-2" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                </div>
            </div>
          <div class="row">
            <div class="col-12 mt-4 d-flex justify-content-center">
              <div class="col-lg-7 col-sm-9 col-8">
                <button type="button" class="reset-button w-100 h-100">Send Reset Password Email</button>
              </div>
            </div>
          </div>
        </form>
      </div>
</div>

  
